body{
    background-color: black;
    height: 80vh;
    font-family: math;
}


.inputBox {
    padding: 11px 20px 11px 22px;
    margin: 5px 0;
    border-radius: 40px;
    border: 2px solid white;
    width: 72%;
}

.formSection {
    /* margin: 88px 433px 0; */
    background-image: linear-gradient(45deg, rgb(10, 214, 197), rgb(8, 120, 165));
    padding: 30px 0 30px 65px;
    border-radius: 9px;
    margin: auto;
    width: 33%;
    margin-top: 50px;
}
.formSection:hover{
    background-image: linear-gradient(90deg,  rgb(8, 120, 165),rgb(10, 214, 197));

}

#btn {
    margin: 7px 0 0 0px;
    padding: 12px 30px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    /* margin: auto; */
    width: 83%;
}
#btn:hover{
    transform: scale(1.07);
    transition-duration: 1s;
    color: black;
    background-color: white;
}






#result{
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    margin: 20px 380px 0;
    padding: 10px;
    border-radius: 20px;
    display: none;

}